<div class="container" fxLayout="column"
     fxLayoutAlign="space-between center"
     fxFill
     *ngIf="buildInfo$ | async as buildInfo"
     [ngClass]="{'background-color__success' : buildInfo.result === 'SUCCESS',
                 'background-color__failed' : buildInfo.result === 'FAILED',
                 'background-color__in-progress' : buildInfo.result === 'IN PROGRESS'}">
  <div class="tile__header">
    {{project?.bitBucketName | uppercase}}

  </div>
  <div class="tile__content" *ngIf="buildInfo.commitAuthor != ''">
    <div>{{buildInfo.commitAuthor}}</div>
    <div>{{buildInfo.commitMessage}}</div>
  </div>
  <div class="tile__footer">Last Updated: {{buildInfo?.timestamp | date:'short'}}</div>

</div>



