<div class="container" fxLayout="column"
     fxLayoutAlign="start center"
     fxFill
     *ngIf="buildInfo$ | async as buildInfo"
     [ngClass]="{'background-color__success' : buildInfo.result === 'SUCCESS',
                 'background-color__failed' : buildInfo.result === 'FAILURE',
                 'background-color__in-progress' : buildInfo.result === ''}">
  <div class="tile__header">
    {{project.bitBucketName | uppercase}}
  </div>
  <div class="content-container" fxFlex="1 0 auto">
    <div class="tile__content" >
      <div>Build #{{buildInfo.buildNumber}} - {{buildInfo.duration | convertToTime}}</div>
      <div>Branch: {{project.jenkinsBranchDisplayName}}</div>
    </div>
    <div class="tile__content commit-container"
          *ngIf="buildInfo.commitAuthor != ''"
          [ngClass]="{'background-color__success-lighter' : buildInfo.result === 'SUCCESS',
                 'background-color__failed-lighter' : buildInfo.result === 'FAILURE',
                 'background-color__in-progress-lighter' : buildInfo.result === ''}">
        <img class="avatar" src={{buildInfo.commitAuthorAbsoluteURL}}/>
      <div>{{buildInfo.commitMessage}}</div>
    </div></div>
  <div class="tile__footer">Last Updated: {{buildInfo?.timestamp | date:'short'}}</div>
</div>
