.background-color__failed {
  background: #eb383b;
}
.background-color__success {
  background: #57af53;
}
.background-color__in-progress {
  background: #f9be29;
}
.tile__header {
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
}
.tile__content {
  text-align: center;
}
.tile__footer {
  font-weight: 100;
}
