
<div fxLayout="row wrap" fxLayoutGap="7px" class="container">
  <!-- <div class="tile"> -->
    <sd-project-tile *ngFor="let project of projects" [project]="project"></sd-project-tile>
  <!-- </div> -->
</div>
<!-- <div fxLayout="row" fxLayoutGap="7px" class="container">
  <div  class="tile">
    <sd-project-tile [project]="project4"></sd-project-tile>
  </div>
  <div class="tile">
    <sd-project-tile [project]="project5"></sd-project-tile>
  </div>
  <div class="tile">
    <sd-project-tile [project]="project6"></sd-project-tile>
  </div>
</div> -->
