
<div fxLayout="row" fxLayoutGap="5px" class="container">
  <div fxFlex="25" class="tile">

  </div>
  <div fxFlex="50" class="tile">
    <sd-repo-tile [repo]="topMiddle"></sd-repo-tile>
  </div>
  <div fxFlex="25" class="tile"></div>
</div>
<div fxLayout="row" fxLayoutGap="5px" class="container">
  <div fxFlex="50" class="tile">
    <sd-repo-tile [repo]="bottomLeft"></sd-repo-tile>
  </div>
  <div fxFlex="50" class="tile">
    <sd-repo-tile [repo]="bottomRight"></sd-repo-tile>
  </div>
</div>
<div fx></div>
